# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Test caches
.cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS .DS_Store files
.DS_Store

# Project specific
modman.conf
Modded_server/
# modpacks/
